/* .container{
    background-color: rgb(231, 224, 224);
    color:white;
    font-size: 20px;
    padding:30px;

}

h1{
    color:red;
    text-shadow: 0cm;
    text-overflow: inherit;
}
.demo{
    color:rgb(235, 195, 195);
    background-color:hsl(286, 67%, 41%);
}
.name{
    color:white;
    background-color:green;
}
.sinan{
    color:rgb(15, 22, 2);
    background-color: burlywood;
}
*/
.btn:hover{
    background-color: black;
    color:red;

} 